:root {
    --primary: #FE5D37;
    --light: #FFF5F3;
    --dark: #103741;
}

.navbar {
    background-color: var(--light);
    padding: 15px 15px ;
    color: var(--dark);
    font-weight: 500;
    outline: none;
}

.header-list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.header-list a {
    text-decoration: none;
}
.student-btn{
    font-weight: 500;
    transition: .5s;
    padding: 8px;
    border-radius: 50px;
}